.news__container {
  max-width: 1170px;
  margin: 81px auto 90px;
  display: flex;
  gap: 70px;
  align-items: center;
}

@media screen and (max-width: 1280px){
  .news__container {
    flex-direction: column;
  }
}