.catalog__link {
  text-decoration: none;
  padding-bottom: 11px;
  border-bottom: 1px solid #C4C0B6;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  align-self: flex-end;
}

.catalog__link:hover {
  cursor: pointer;
}

@media screen and (max-width: 1200px){
  .catalog__link {
    align-self: center;
  }
}