.gallery__image {
  background-image: url(../../../images/photo_banner.jpg);
  width: 521px;
  height: 414px;
  position: relative;
}

@media screen and (max-width: 800px){
  .gallery__image {
    width: 320px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}