.news__description {
  margin: 0;
  margin-top: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
  width: 376px;
}

.news__description_bold {
  font-weight: 700;
}